body {
  margin: 0;
}



.header {
  background-image: url(../images/headerBack.jpg);
  width: 100%; /* Full width */
  height: 50vh; /* 50% of the viewport height */
  background-size: cover; /* Scale the image to cover the entire header */
  background-position: left; /* Align the background to the left */
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure it's on top of other content */
  display: flex; /* Use flexbox to align content vertically */
  justify-content: center; /* Center horizontally */
}
.header img {
  /* Adjust the size and positioning of the image */
  width: 70px; /* Set the width of the image */
  margin-top: 115px;
  margin-right: 20%; /* Adjust the spacing between the image and text */
  filter: invert(100%);
}
.recipyBig {
  align-self: center; /* Center vertically within the header */
  color: #FFF;
  font-family:'Noto-Serif', sans-serif;
  font-size: 85px;
  font-weight: 400;
  line-height: normal;
  position: absolute; /* Position this element within the header */
  top: 50%; /* Move it halfway down */
  left: 53%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center text both horizontally and vertically */
}


.inputBox {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.userInput {
  margin-left: 34%;
  font-size: 25px;
  background-color: #ccc;
  border-radius: 5px;
  border:none;
  padding: 17px; /* Match the same padding as .createBtn */
  padding-right: 50px;
  padding-left: 70px;
}

.userInput input::placeholder {
  color: #555;
}

.userInput input:focus {
  color: orange;
}

.createBtn {
  margin-left: 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 19px; /* Match the same padding as .userInput */
  font-size: 20px;
  color: #555;
  transition: background-color 0.3s; /* Add a transition effect for hover */
  cursor: pointer; /* Change cursor on hover */
}

.createBtn:hover {
    background-color: orange; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

.createBtn:active {
    background-color: rgb(237, 130, 0); /* Change background color on click */
    color: #fff; /* Change text color on click */
}








@font-face {
  font-family: 'Noto-Serif'; /* The name you'll use in your CSS rules */
  src: url('../fonts/NotoSerif-VariableFont_wdth\,wght.ttf') format('truetype');
  /* Add more sources as needed for different formats */
  font-weight: normal; /* or specify the font weight */
  font-style: normal; /* or specify the font style */
}