/* CSS for the navbar */
.navbar {
  padding-top: 5px;
  background-color: transparent; /* Set the background to transparent */
    position: absolute;
    width: 100%;
    z-index: 1; /* Ensure the navbar appears on top of the content */
    overflow: hidden;
}

.navbar a {
  
  float: left;
  color: white; /* Text color set to white */
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
  font-family: 'Noto-Serif', sans-serif;
  transition: text-decoration 0.3s, font-weight 0.3s;
}

/* Style the "Recipy" logo on the left */
.navbar .logo {
  float: left;
  margin-left: 100px;
  margin-top: 15px;
  font-size: 24px;
  color: white;
  font-family: 'Noto-Serif', sans-serif;
}

.navbar .right-links {
  float: right;
  margin-right: 25px;
}

/* Style the individual links */
.navbar a:hover {
  text-decoration: underline; /* Underline the text on hover */
  font-weight: bold; /* Make the text bold on hover */
}

body {
  margin: 0;
}

.header {
  background-image: url(../images/headerBack.jpg);
  width: 100%; /* Full width */
  height: 45vh; /* 50% of the viewport height */
  background-size: cover; /* Scale the image to cover the entire header */
  background-position: left; /* Align the background to the left */
  position: relative;
  top: 0;
  left: 0;
  z-index: 0; /* Ensure it's on top of other content */
  display: flex; /* Use flexbox to align content vertically */
  justify-content: center; /* Center horizontally */
}
.header img {
  /* Adjust the size and positioning of the image */
  width: 70px; /* Set the width of the image */
  margin-top: 40px;
  margin-right: 20%; /* Adjust the spacing between the image and text */
  filter: invert(100%);
}

.recipyBig {
  align-self: center; /* Center vertically within the header */
  color: #FFF;
  font-family:'Noto-Serif', sans-serif;
  font-size: 85px;
  font-weight: 400;
  line-height: normal;
  position: absolute; /* Position this element within the header */
  top: 40%; /* Move it halfway down */
  left: 53%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center text both horizontally and vertically */
}


.inputBox {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.userInput {
  margin-left: 30%;
  font-size: 25px;
  background-color: #ccc;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 17px; /* Match the same padding as .createBtn */
  width: 400px;
  
  padding-left: 28px;
  transition: border 0.3s;
}

.userInput input::placeholder {
  color: #555;
}

textarea:focus, input:focus{
  outline: none;
  border: 2px solid rgb(112, 111, 111);
  color: rgb(46, 46, 46);
}

.createBtn {
  margin-left: 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 22px; /* Match the same padding as .userInput */
  font-size: 20px;
  color: #555;
  transition: background-color 0.3s, color 0.3s; /* Add a transition effect for hover */
  cursor: pointer; /* Change cursor on hover */
}

.createBtn:hover {
    background-color: orange; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

.createBtn:active {
    background-color: rgb(237, 130, 0); /* Change background color on click */
    color: #fff; /* Change text color on click */
}








@font-face {
  font-family: 'Noto-Serif'; /* The name you'll use in your CSS rules */
  src: url('../fonts/NotoSerif-VariableFont_wdth\,wght.ttf') format('truetype');
  /* Add more sources as needed for different formats */
  font-weight: normal; /* or specify the font weight */
  font-style: normal; /* or specify the font style */
}